body {
    background-color: rgb(7 30 49);
    margin-top: 50px;
    padding-top: 70px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    color: white;
    font-family: 'Libre Baskerville', serif;
}
table {
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  hr {
    color: white;
  }
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }

/* Dropdown Button */
.dropdownnav {
    background-color: #04aa6d00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e4100;}
  /* Dropdown Button */
.dropbtn {
    background-color: #04aa6d00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  #head.grid-container {
    display: grid;
    grid-template-columns: 288px 150px 170px 170px 220px 170px 252px auto;
    background-color: #2196F3;
    padding: 0px;

  }
  
  #head.grid-container > div {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px ;
    font-size: 15px;
  }

  #list.grid-container {
    display: grid;
    grid-template-columns: 288px 150px 170px 170px 220px 170px 252px auto;
    gap: 1px;
    background-color: #ffffff ;
    padding: 0px;
  }
  
  #list.grid-container > div {
    background-color: rgb(54 54 54);
    text-align: center;
    padding: 5px ;
    font-size: 15px;
  }
  #list.grid-container2 {
    display: grid;
    grid-template-columns: 288px 150px 170px 170px 220px 170px 252px auto;
    gap: 1px;
    background-color: #ffffff ;
    padding: 0px;
  }
  #list.grid-container2 > div {
    background-color: rgba(59, 54, 54, 0.8);
    text-align: center;
    padding: 5px ;
    font-size: 15px;
  }
  